body {
	background-color: grey;
	font-family: Arial, sans-serif, serif;
	margin: 0;
}

h1, h2, h3 {
	margin: 0;
	text-align: center;
	background: blue;
	color: white;
} 


#header {
	background-color: blue;
	color: white;
	text-align: center;
}

#nav ul {
	margin: 0;
	text-align: center;
}

#nav ul li {
	background-color: blue;
	display: inline-block;
	color: white;
	list-style-type: none;
	margin: 0;
}

#nav ul li a {
	color: white;
}




#content {
	padding: 10px;
} 

#main {
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 80px;
}


#web {
	border-width: 0px;
	border-style: solid;
	border-color: black;
	display: block;
	float: right;
	margin-left: 50px;
	margin-top: 25px;
	margin-bottom: 100px;
}

#net {
	border-width: 0px;
	border-style: solid;
	border-color: black;
	display: block;
	float: left;
	margin-right: 50px;
	margin-top: 30px;
	margin-bottom: 100px;
}

#mb {
	border-width: 0px;
	border-style: solid;
	border-color: black;
	display: block;
	margin-left: auto;
    margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}



#footer {
	background-color: blue;
	color: white;
	clear: both;
	text-align: center;
}































































